.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active, .btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    background: transparent;
    border-color: transparent;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus, .btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn-primary {
    background: transparent;
    border-color: transparent;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: none;
}
.btn-primary:hover {
    color: #abb7c4;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
.dropdown-link {
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    color: #233a50;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #233a50;
}
.dropdown-link:last-child {
    border-bottom: none;
}
.dropdown-menu {
    border-radius: 0;
    inset: 24px auto auto 0;
    box-shadow: none;
}
.button {
    background: transparent;
}