.actors-item {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #abb7c4;
    font-weight: 300;
    line-height: 24px;
}
.un-show-biography {
    max-height: 280px;
    overflow: hidden;
}
.show{
    max-height: unset;
}
.show-biography {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, transparent 80%, #abb7c4 100%);
}