.films-details-block {
    padding: 50px 50px;
}
.films-details-title {
    font-size: 24px;
    font-weight: 500;
    color: #abb7c4;
    margin-bottom: 3px;
}
.films-details-item {
    font-size: 16px;
    font-weight: 400;
    color: #4280bf;
    margin-bottom: 15px;
}
.films-key-word-btn {
    background: #020d18;
    color: #4280bf;
    border: 2px solid #233a50;
    margin: 5px;
}
.films-key-word-btn:hover {
    color: #dcf836;
}