*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0 ;
    background-color: #20232a;
}

.header {
    display: flex;
}

button {
    padding: 2px 8px;
    border: 2px solid white;
    background: #233a50;
    color: white;
    border-radius: 8px;
    margin-right: 8px;
}

button:hover {
    background: white;
    color: #233a50;
}

span {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-right: 8px;
}

.link {
    color: #abb7c4;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 30px;
}
.link:hover {
    color: #dcf836;
}

.register-button {
    background-color: #dd003f;
    color: #ffffff;
    padding: 11px 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.block {
    margin-bottom: 20px;
    margin-right: 30px;
}

.register-box {
    margin-left: auto;
}

.title-block {
    width: 400px;
    margin-right: 50px;
}

.info-block {
    width: 600px;
    padding: 39px 0;
}

.img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    border-radius: 8px;
}

.context {
    display: grid;
    grid-auto-columns: 1fr 2fr;
}

.button {
    background: black;
}

.hero {
    padding: 60px 0 0;
    height: 100vh;
    min-height: 790px;
    background: url("./image/bg.jpg") center/ cover;
}

.search-box {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 4px solid #020d18;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-input {
    height: 46px;
    border: none;
    background-color: #233a50 !important;
    font-family: 'Nunito', sans-serif;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
}

.search-input:focus {
    outline: none;
}

.search-img {
    text-align: center;
    height: 46px;
}

.search-btn {
    padding: 0;
    background: #233a50 no-repeat;
    border: none;
}

.search-btn:disabled {
    background: #dd003f;
}

input[type='text'] {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #abb7c4;
    background-color: #fff;
    /*border: 1px solid #aaa;*/
}

.slick-next, .slick-prev {
    display: none;
}

.slick-next:before {
    content: none;
}

.slick-prev:before {
    content: none;
}

.slick-dots {
    text-align: right;
}

.slick-dots li button:before {
    font-size: 11px;
    color: white;
}

.slick-dots li button {
    color: white;
}

.slick-dots li.slick-active button:before {
    color: greenyellow;
}

.slider-box {
    text-decoration: none;
    position: relative;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
}

.slider-text {
    display: inline-block;
    color: white;
    padding: 5px 8px 0;
    font-size: 20px;
}

.slider-popular {
    position: absolute;
    top: 333px;
    left: 8px;
    color: yellow;
    font-weight: bold;
    background: black;
    border-radius: 50%;
    padding: 5px 8px;
}

.slider-date {
    display: inline-block;
    color: white;
    font-size: 16px;
    padding: 0 8px;
}

.content {
    padding: 70px 0;
    background: #020d18;
}

.film-popular {
    display: inline-block;
    color: yellow;
}

.film-img {
    width: 100%;
    border-radius: 8px;
}

.about-film {
    padding: 86px 0 0;
}

.info {
    padding: 50px 0;
    display: flex;
    font-family: 'Dosis', sans-serif;
    color: white;
}

.get-films-block {
    padding: 60px 0 0;
    background: #020d18;
}

.film-title {
    font-size: 36px;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.film-date {
    font-size: 24px;
    color: #4f5b68;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 8px;
}

.film-sub-title {
    font-size: 16px;
    margin-bottom: 10px;
}
.film-pod-title {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #abb7c4;
    font-weight: bold;
}
.h3 {
    color: #abb7c4;
    font-weight: bold;
}
.btn-success {
    color: #abb7c4;
    background: none;
    border: none;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 30px;
}

.btn-success:hover {
    color: greenyellow;
    background: none;
    border: none;
}
.btn-success:focus {
    color: #fff;
    background: none;
    border: none;
    box-shadow: none;
}
.show > .btn-success.dropdown-toggle {
    color: greenyellow;
    background: none;
    border: none;
}
.show>.btn-success.dropdown-toggle:focus {
    box-shadow: none;
}
.movies {
    padding: 100px 0 0;
}

.credits-box {
    background: #020d18;
    padding: 70px 0 ;
}

.photo-box {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightslategray;
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.actors-box {
    border-bottom: 2px solid white;
}
.actors-image {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}
.actors-photo-box {
    margin-right: 60px;
    font-family: 'Nunito', sans-serif;
    color: white;
}
.actors-about-box {
    font-family: 'Nunito', sans-serif;
    color: white;
}
.actors-name {
    font-weight: 700;
    margin-bottom: 30px;
}
.actors-about-titres {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}
.films-card-page {
    background: url("./image/trending-bg.svg") no-repeat center;
}
.films-card {
    width: 150px;
    min-width: 150px;
    transition: height .5s linear;
}
.films-card-title {
    font-weight: 700;
    color: white;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.films-card-text {
    font-size: 1em;
    color: lightblue;
}
.films-card-percent-box {
    width: 34px;
    height: 34px;
    padding-top: 1px;
    padding-left: 1px;
    font-size: 0.6em;
}
.films-card-percent {
    color: yellow;
    background: #020d18;
    border: 2px solid greenyellow;
    border-radius: 50%;
}
.films-sub-card {
    padding: 10px 10px 12px 10px;
}
.tabs ul.tabs-mv {
    padding: 20px 0;
    margin-bottom: 30px;
}
.tabs ul.tab-links{
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
}
ul {
    list-style: none;
    margin-left: 0;
}
.tabs ul.tabs-mv .li  {
    font-size: 18px;
    padding-bottom: 15px;
    font-family: 'Dosis', sans-serif;
    color: #abb7c4;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.tabs ul.tabs-mv .li {
    margin-right: 50px;
}
.tabs ul.tabs-mv .li.active , .tabs ul.tabs-mv .li:hover  {
    border-bottom: 3px solid #dcf836;
}
.li:hover {
    color: #dcf836;
}
.tabs ul.tab-links .li.active {
    color: #dcf836;
}
.creotors-job {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: capitalize;
}
.creotors-name {
    color: #4280bf;
}
.creotors-name:hover {
    color: #dcf836;
}
.photo-page{
    min-width: 200px;
    border-radius: 8px;
    box-shadow: 6px 4px 8px -4px lightblue;
    border: 1px solid white;
    margin-bottom: 20px;
    margin-right: 40px;
}
.photo-box {
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.modal-bg {
    background: rgba(0,0,0,0.7);
}
.start-btn {
    height: 60px;
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.trailer-btn {
    background: none;
    border: none;
}
.trailer-img {
    width: 533px;
    height: 300px;
    object-fit: cover;
}
.start-play {
    position: absolute;
    top: 118px;
    right: 0;
    left: 238px;
    width: 67px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
}
.play-start {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./image/start-video.svg");
}

.actors-title {
    color: #abb7c4;
    margin-bottom: 40px;
}
.trailer-box {
    padding: 50px 0;
    background: url("./image/info-bg.jpg");
}
footer {
    padding: 40px 0;
    background: url("./image/bg.jpg");
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#abb7c4;
    font-weight: bold;
    font-size: 18px;
}
.footer-img {
    width: 154px;
    height: 20px;
    margin-left: 30px;
}