body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
    padding: 30px 0;
}
.header {
    padding: 10px 0;
    display: flex;
}
.link {
    color: #abb7c4;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 30px;
}
.register-button {
    background-color: #dd003f;
    color: #ffffff;
    padding: 11px 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.block {
    margin-bottom: 20px;
    margin-right: 30px;
}
.register-box {
    margin-left: auto;
}
.first-block {
    width: 400px;
    margin-right: 70px;
}

.img {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.second-block {
    width: 600px;
}

.context {
    display: grid;
    grid-auto-columns: 1fr 2fr;
}

.button {
    background: black;
}

.hero {
    height: 100vh;
    min-height: 790px;
    background: url("./image/bg.jpg") center/ cover;
}
.search-box {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 4px solid #020d18;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 50px;
}

.search-input {
    height: 46px;
    border: none;
    background-color: #233a50 !important;
    font-family: 'Nunito', sans-serif;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
}
.search-input:focus {
    outline: none;
}
.search-img {
    text-align: center;
    height: 46px;
    background-color: #233a50
}
input[type='text']{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #abb7c4;
    background-color: #fff;
    /*border: 1px solid #aaa;*/
}
.slick-next, .slick-prev  {
    display: none;
}

.slick-next:before {
    content: none;
}
.slick-prev:before {
    content: none;
}
.slick-dots {
    text-align: right;
}
.slick-dots li button:before {
    font-size: 11px;
    color: white;
}
.slick-dots li button {
    color: white;
}
.slick-dots li.slick-active button:before{
    color: greenyellow;
}
.slider-box{
    text-decoration: none;
    position: relative;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
}
.slider-text {
    display: inline-block;
    color: white;
    padding: 5px 8px 0;
    font-size: 20px;
}
.slider-popular {
    position: absolute;
    top: 333px;
    left: 8px;
    color: yellow;
    font-weight: bold;
    background: black;
    border-radius: 50%;
    padding: 5px 8px;
}
.slider-date{
    display: inline-block;
    color: white;
    font-size: 16px;
    padding: 0 8px;
}
.content {
    padding: 70px 0;
    background: #020d18;
}
.film-popular {
    display: inline-block;
    color: yellow;
}
.film-img {
    width: 100%;
    border-radius: 8px;
}