*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.main {
    flex: 1;
}
.header {
    width: 100%;
    padding: 20px 0 ;
    background-color: #20232a;
    display: flex;
}

.header-fix {
    position: fixed;
    top: 0;
    z-index: 9;
    background: #20232a;
    animation: scroll 1s ease-in-out ;
}

@keyframes scroll {
    0% {
        opacity: 0;
        top: -100px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
button {
    padding: 2px 8px;
    border: 2px solid white;
    background: #233a50;
    color: white;
    border-radius: 8px;
    margin-right: 8px;
}
.bor-rad {
    border-radius: 8px;
}
button:hover {
    background: transparent;
    color: #233a50;
}

span {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-right: 8px;
}

.link {
    color: #abb7c4;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 30px;
}
.link:hover {
    color: #dcf836;
}
.button-active {
    color: #dcf836;
}
.header-btn {
    background: none;
    border: none;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 30px;
}
.header-btn:hover {
    color: #dcf836;
}
ul{
    padding-left: 0;
    margin-bottom: 0;
}
.header-link-none {
    display: none;
}
.header-link-none:hover {
    display: block;
}
.register-button {
    background-color: #dd003f;
    color: #ffffff;
    padding: 11px 25px;
    /*-webkit-border-radius: 20px;*/
    /*-moz-border-radius: 20px;*/
    border-radius: 20px;
}

.block {
    margin-bottom: 20px;
    margin-right: 30px;
}

.register-box {
    margin-left: auto;
}

.title-block {
    width: 400px;
    margin-right: 50px;
}

.info-block {
    width: 600px;
    padding: 30px 0;
}

.img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    border-radius: 8px;
}

.context {
    display: grid;
    grid-auto-columns: 1fr 2fr;
}

.button {
    background: black;
}

.hero {
    padding: 10px 0 60px;
    height: 100vh;
    min-height: 790px;
    background: url("./image/bg.jpg") center/ cover;
}
.search-page {
    padding: 170px 0 70px;
    background: #020d18;
}
.search-box {
    /*display: -webkit-flex;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 4px solid #020d18;
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    border-radius: 3px;
}

.search-input {
    height: 46px;
    border: none;
    background-color: #233a50 !important;
    font-family: 'Nunito', sans-serif;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
}

.search-input:focus {
    outline: none;
}

.search-img {
    text-align: center;
    height: 46px;
}

.search-btn {
    padding: 0;
    background: #233a50 no-repeat;
    border: none;
    margin-right: 0;
    border-radius: 0;
}

.search-btn:disabled {
    background: #dd003f;
}

input[type='text'] {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #abb7c4;
    background-color: #fff;
    /*border: 1px solid #aaa;*/
}

.slick-next, .slick-prev {
    display: none;
}

.slick-next:before {
    content: none;
}

.slick-prev:before {
    content: none;
}

.slick-dots {
    text-align: right;
}

.slick-dots li button:before {
    font-size: 11px;
    color: white;
}

.slick-dots li button {
    color: white;
}

.slick-dots li.slick-active button:before {
    color: greenyellow;
}

.slider-box {
    text-decoration: none;
    position: relative;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
}
.slider-btn {
    background: none;
    border: none;
}
.slider-btn:focus{
    outline: none;
}
.slider-text {
    display: inline-block;
    color: white;
    padding: 5px 8px 0;
    font-size: 20px;
}
.slider-popular {
    margin-right: 10px;
}
span {
    padding-right: 0;
}
.slider-date {
    display: inline-block;
    color: white;
    font-size: 16px;
    padding: 0 8px;
}

.content {
    padding: 70px 0 140px;
    background: #020d18;
    font-family: 'Dosis', sans-serif;
}
.content-sub-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.content-title {
    font-size: 22px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
.content-bor {
    padding-bottom: 10px;
    border-bottom: 1px solid #233a50;
}
.content-btn {
    font-size: 16px;
    color: #abb7c4;
    padding: 0 20px 0 0;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    border: none;
    transition: all 0.4s ease-in-out;
}
.content-btn:hover {
    color: #dcf836;
}
.content-link {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    text-decoration: none;
}
.content-link:hover {
    color: #dcf836;
}
.content-slick-slider-page {
    padding: 40px 0 0;
    transition: all 0.4s ease-in-out;
}
.content-slick-slider-box {
    margin-right: 30px;
}
.content-slick-slider {
    position: relative;
    border-radius: 5px;
    text-decoration: none;
}
.content-slick-slider-star {
    color: orange;
    font-size: 20px;
}
.content-slick-slider-popular {
    font-weight: 400;
    font-size: 18px;
}
.content-slick-slider-max-popular {
    font-size: 14px;
}
.content-slick-slider-img {
    width: 100%;
    /*-webkit-transition: all 0.5s ease-out;*/
    /*-moz-transition: all 0.5s ease-out;*/
    /*-o-transition: all 0.5s ease-out;*/
    transition: all 0.5s ease-out;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
    filter: brightness(50%);
}
.content-slick-slider-title {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 13px 5px;
}
.content-slick-slider-block {
    padding: 0 13px;
}

.content-adrt {
    text-align: center;
    color: #233a50;
    font-size: 14px;
}
.content-page {
    padding: 90px 0 0;
}
.pad-rt {
    padding-right: 40px;
}
.pad-lf {
    padding: 20px 10px 20px 40px;
}
.person-popular-img {
    width: 70px;
    object-fit: cover;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
}
.person-popular-title {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}
.person-popular-pod-title {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #abb7c4;
    font-weight: 400;
    text-transform: uppercase;
}
.film-popular {
    display: inline-block;
    color: yellow;
}
.side-bar {
    margin-left: 40px;
}
.tizers-page {
    min-height: 500px;
    padding: 70px 0 ;
    background-color: #06121e;
}
.film-img {
    width: 100%;
    border-radius: 8px;
}

.info {
    padding: 50px 0;
    display: flex;
    font-family: 'Dosis', sans-serif;
    color: white;
}

.get-films-block {
    padding: 30px 0 60px;
    background: #020d18;
}
.film-info-img {
    width: 100%;
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    border-radius: 5px;
    transition: .4s all;
}
.film-info-img:hover{
    filter: blur(4px) brightness(40%);
}
.film-info-img:hover + .image-text-grow {
    opacity: 1;
}
.image-text-grow {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s all;
    pointer-events: none;
}
.film-info-box{
    margin-right: 30px;
    margin-bottom: 60px;
}

.film-title {
    font-size: 36px;
    font-weight: 700;
    text-transform: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.film-date {
    font-size: 24px;
    color: #4f5b68;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 8px;
}

.film-sub-title {
    font-size: 16px;
    margin-bottom: 10px;
}
.film-pod-title {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #abb7c4;
    font-weight: bold;
}
.film-tagline {
    padding: 40px 0 0;
    font-style: italic ;
    color: #abb7c4;
    font-size: 20px;
}
.h3 {
    color: #abb7c4;
    font-weight: bold;
}

.movies {
    padding: 100px 0 0;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #020d18;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #233a50;
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4280bf;
}

.actors-image {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}
.actors-photo-box {
    margin-right: 60px;
    font-family: 'Nunito', sans-serif;
    color: white;
}
.actors-about-box {
    font-family: 'Nunito', sans-serif;
    color: white;
}
.actors-name {
    margin-bottom: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 21px;
    color:#4280bf;
    font-weight: bold;
    text-transform: capitalize;
}
.actors-sub-title {
    margin-bottom: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #abb7c4;
    font-weight: bold;
}

.actors-pod-title {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #abb7c4;
}

.actors-line {
    border-bottom: 1px solid #233a50;
}
.films-card-page {
    /*background: url("./image/trending-bg.svg") no-repeat center;*/
}
.films-card {
    width: 150px;
    min-width: 150px;
    transition: height .5s linear;
}
.films-card-title {
    font-weight: 700;
    color: white;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.films-card-text {
    font-size: 1em;
    color: lightblue;
}
.films-card-percent-box {
    width: 34px;
    height: 34px;
    padding-top: 1px;
    padding-left: 1px;
    font-size: 0.6em;
}
.films-card-percent {
    color: yellow;
    background: #020d18;
    border: 2px solid greenyellow;
    border-radius: 50%;
}
.films-sub-card {
    padding: 10px 10px 12px 10px;
}
.active {
    display: block;
    color: #dcf836;
    border-bottom: 3px solid #dcf836;
}
.link-button {
    background: none;
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    padding: 0 0 15px 0;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 30px;
}
.link-button:hover {
    color: #dcf836;
    border-bottom: 3px solid #dcf836;
}
.creotors-job {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: capitalize;
}
.creotors-name {
    color: #4280bf;
}
.creotors-name:hover {
    color: #dcf836;
}
.photo-page {
    margin-right: 30px;
    margin-bottom: 10px;
}
.photo-box {
    width: 120px;
    /*min-height: 200px;*/
}
.photo-box-img {
    width: 125px;
    border-radius: 8px;
    object-fit: cover;
}
.modal-bg {
    background: rgba(0,0,0,0.7);
}
.trailer-icon {
    position: absolute;
    color: #dd003f;
    font-size: 55px;
    background: white;
    border-radius: 50%;
    border: 1px solid white;
    top: 43%;
    left: 50%;
    transform: translate(-43%, -50%);
    transition: .2s ease-out;
}
.trailer-icon:hover {
    font-size: 60px;
    background: #dd003f;
    color: white;
}
.trailer-btn {
    background: none;
    border: none;
}
.trailer-img {
    width: 533px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
.trailer-size-title {
    font-size: 17px;
    font-weight: bold;
    color: #233a50;
}
.trailer-size-title:hover {
    color: #dcf836;
}
.trailer-size {
    font-size: 16px;
    color: darkorange;
}
.play-start {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./image/start-video.svg");
}

.actors-title {
    color: #abb7c4;
    margin-bottom: 30px;
    padding: 0 24px;
    font-family: 'Dosis', sans-serif;
    width: 100%;
}
.films-info-box {
    background: #020d18;
}
.trailer-box {
    padding: 50px 0;
    border-bottom: 1px solid #4280bf;
    background: #020d18 !important;
}
footer {
    padding: 80px 0 0 0;
    background: url("./image/bg.jpg");
}

.footer-img {
    width: 154px;
    height: 20px;
    margin-bottom: 30px;
}
.footer-title {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.footer-link {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #abb7c4;
    font-weight: 500;
    text-decoration: none;
}
input[type='text'] {
    background-color: transparent;
}
.footer-input {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    border: 2px solid #405266;
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    border-radius: 3px;
    background: #020d18 url('./image/search-bg.png') no-repeat right 20px center;
}
.footer-input:focus {
    outline: none;
}
.footer-email-link {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #dd003f;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-end-title {
    padding: 30px 0 ;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    line-height: 24px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #405266;
}
.actors-box {
    margin-bottom: 40px;
}
.actors-buttons {
    border-bottom: 1px solid #233a50;
}
.actors-sg-tl {
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 18px;
}
.actor-media-block {
    display: flex;
}
.actor-link-block {
    display: block;
    margin-right: 15px;
    width: 30px;
}
.actor-link {
    font-size: 25px;
    transition: .2s all;
}
.actor-link:hover {
    font-size: 28px;
    color: #dcf836;
}
.actors-film-page {
    background: #020d18;
    padding: 70px 0 50px;
}
.credits-page {
    height: 140vh;
    min-height: 500px;
    background: rgba(0, 0, 0, 0.75) url("./image/sr-single.jpg") center/cover;
    background-blend-mode: darken;
    padding: 50px 0 100px;
}

.credits-box {
    padding: 50px 0 ;
    border-bottom: 1px solid #4280bf ;
    background: #020d18 !important;
}
.credits-card {
    width: 252px;
    min-width: 200px;
}
.credits-img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
    min-height: 300px;
}
.credits-rule-title {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: #4280bf;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #233a50;
}
.credits-title {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: none;
    line-height: 24px !important;
    padding:  0 10px;
    display: inline-block;
}
.credits-date {
    color: #4280bf;
    transition: ease-in-out 0.4s;
    padding:  0 10px;
}
.credits-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #233a50;
}
.credits-btn:hover {
    color: #dcf836;
}
.credits-btn-title {
    font-size: 28px;
}
.credits-btn-item {
    font-size: 22px;
}
.actors-button {
    display: flex;
    align-items: center;
    background: white;
    border: none;
    color: #4280bf;
    font-weight: bold;
}
.actors-button:hover {
    color: yellow;
    background: white;
}
.actors-button-img {
    height: 40px;
    display: flex;
    padding-left: 10px;
}
.margin-btn {
    margin-right: 20px;
}
.trailer-img {
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.trailer-btn {
    background: transparent;
    width: 100%;
}
.next-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.trends-page {
    padding: 70px 0;
    background-color: #020d18
}
.trends-img-box {
    margin-bottom: 60px;
}
.trends-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.trends-card-img {
    margin-right: 30px;
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    border-radius: 5px;
    width: 30%;
}
.trends-card-title {
    padding: 30px 0 0;
    font-family: 'Dosis', sans-serif;
    font-size: 19px;
    color: #4280bf;
    font-weight: bold;
    margin-bottom: 15px;
}
.trends-card-time, .trends-card-overview {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    margin-bottom: 20px;
}
.trends-card-overview {
    color: #4280bf;
}
.recommendation-block {
    width: 250px;
    height: 141px;
}
.hover {
    transition: .4s ease-out;
}
.hover:hover{
    color: #dcf836 !important;
}