@media (max-width: 1200px) {
    /*from 1200px to 992px*/
    .info-block {
        width: 470px;
        padding: 25px 0;
    }

    .title-block {
        width: 400px;
        margin-right: 40px;
    }

    .film-sub-title {
        padding-right: 5px;
    }

    .film-pod-title {
        padding-right: 5px;
    }

    .actor-link {
        font-size: 32px;
    }

    .actor-link-block {
        width: 42px;
    }

    .md-block {
        margin: 0 auto;
        justify-content: center;
    }

    .md-col-3 {
        width: 50%;
    }

    .films-details-block {
        padding: 48px 40px;
    }

    .photo-box {
        width: 156px;
    }

    .photo-box-img {
        width: 148px;
    }
}

@media (max-width: 992px) {
    /*from 992px to 768px*/
    .md-header {
        display: none !important;
    }

    .hero {
        min-height: 670px;
    }

    .content-slick-slider-title {
        padding: 10px 13px 1px;
    }

    .pad-rt {
        padding-right: 28px;
    }

    .pad-lf {
        padding: 20px 10px 20px 10px;
    }

    .content {
        padding: 70px 0 100px;
    }

    .trends-card-img {
        width: 45%;
    }

    .md-col-6 {
        width: 100%;
    }

    .trends-card-title {
        padding: 24px 0 0;
    }

    footer {
        padding: 65px 0 0 0;
    }

    .md-ft-col {
        width: 50%;
    }

    .footer-title {
        margin-bottom: 20px;
    }

    .info-block {
        width: 425px;
    }

    .serials-bg-box {
        padding-left: 24px;
    }

    .md-film-bl {
        display: block !important;
    }

    .md-film-col-8 {
        width: 100% !important;
        margin: 0 auto;
    }

    .md-film-over {
        margin: 0 auto;
        width: 100%;
    }

    .info-block {
        padding: 0 0 20px;
    }

    .md-trl-col-6 {
        width: 66%;
    }

}

@media (max-width: 768px) {
    /* from 768px to 576px */
    .md-pd {
        padding: 2rem !important;
    }

    .pad-lf {
        padding: 90px 10px 20px 10px;
    }

    .side-bar {
        margin-left: 0;
        padding: 0 50px;
    }

    .content {
        padding: 70px 0;
    }

    .md-col-8 {
        width: 100% !important;
    }

    .md-col-4 {
        display: none;
    }

    .trends-card-overview {
        margin-bottom: 0;
    }

    .footer-img {
        width: 140px
    }

    .footer-title {
        margin-bottom: 16px;
    }

    .footer-end-title {
        padding: 25px 0;
    }

    .mb-ft {
        margin-bottom: 2rem !important;
    }

    .film-info-img {
        width: 79%;
    }

    .md-sub-film-col-8 {
        width: 100% !important;
    }

    .md-block {
        display: block !important;
    }

    .md-pod-film-col-8 {
        width: 100% !important;
    }

    .cr-pd {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .film-info-box {
        margin-right: 18px;
        margin-bottom: 38px;
    }

    .photo-box-img {
        width: 140px;
    }

    .photo-page {
        margin-right: 15px;
        margin-bottom: 8px;
    }

    .actors-title {
        margin-bottom: 10px;
    }

    .credits-box {
        padding: 38px 0 ;
    }

    .trailer-box {
        padding: 42px 0;
    }

    .md-tr-pd {
        padding: 15px 0 0 !important;
    }
    .md-rec-block {
        padding: 20px 0 0;
    }
    .films-details-block {
        text-align: center;
    }

}

@media (max-width: 576px) {
    /*from 576px to  320px*/
    .block {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .md-film-bl {
        padding: 0 18px;
    }
    .md-pd {
        padding: 2rem 1rem !important;
    }
    .film-info-img {
        width: 60%;
    }
    .info {
        padding: 35px 0;
    }
    .title-block {
        margin-right: 0;
    }
    .film-info-box {
        padding: 0 20px;
         margin-right: 0;
         margin-bottom: 30px;
    }
    .film-title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .film-sub-title {
        padding-right: 5px;
        display: block;
        text-align: center;
    }
    .films-info-circ-bar-til {
        padding: 0 52px 0 18px;
    }
    .md-col-3 {
        min-width: 50%;
        padding: 0 10px;
    }
    .rec-pd {
        padding: 0 20px!important;
    }
    .mb-ft {
        display: block !important;
        text-align: center;
    }
    .md-ft-col {
        width: 100%;
    }
}