.serials-pod-page {
    padding: 50px 20px 50px 40px;
    background: #020d18  !important;
    border-bottom: 1px solid #4280bf;
}
.serials-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #233a50;
}
.serials-btn:hover {
    color: #dcf836;
}
.serials-title {
    font-size: 30px;
    color: #abb7c4;
    margin-bottom: 30px;
    padding: 0 24px;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    font-weight: 400;
}